@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
:root {

    --gris-claro: #D9D9D9;
    --negro: #000000;
    --blanco: #FFFFFF;
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: var(--gris-claro);
    padding: 0.5% 2%;
    height: fit-content;
}

.contenedorNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.contenedorLogo {
    display: flex;
    align-items: center;
}
.cont1{
    display: flex;
    flex-wrap: nowrap;
}
.logoHeader {
    height: 3em;
    width: auto;
}
.botonLenguaje{
    width: fit-content;
}

.headerBotones {
    display: flex;
    align-items: center;
}
.contenedorNav{
    display: flex;
    height: fit-content;
}

.cajaBusquedad {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin-right: 2%;
    width: 100%;
}
.busquedad{
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.entradaBusquedad {
    grid-template-columns: 1;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 90%;
}


.BusquedadBoton {
    height: 100%;
    width: 20%;
    grid-template-columns: 2;
    background: none;
    border: none;
    cursor: pointer;
    padding-top: 2%;
}

.iconoMenuBusquedad {
    height: 100%;
    width: 100%;
}

.botonLenguaje {
    display: flex;
    align-items: center;
}

.iconoMenu {
    height: 2em;
    width: 2em;
}
.menuLinks{
    display: none;
}
.ham{
    display: none;
}
.menuNav{
    display: flex;
    flex-wrap: nowrap;

}

.footer {
    background-color: #808080;
    color: #000;
    padding: 20px;
    font-size: 14px;
    display: flex;

    height: auto;
    justify-content: center;
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: center;
}
.cont2,
.zonaAviso{
    flex-direction: column;
    width: 40%;
}

.logoFooter {
    display: flex;
 }
 .imagenFooter {
     align-self: flex-end;
     height: 70px;
     margin-top: 15px;

 }

 .icono {
     width: 25px;
     height: 25px;
 }
 .TextoAviso,.TextoColaboradores{
     display: flex ;
     flex-direction: column;
   }
   .zonaColaboradores,
.redes,
.zonaAviso {

    background-color: #cccccc;
    padding: 15px;
    box-sizing: border-box;
    margin: 10px;
    text-align: center;
}
.tituloColaboradores,.tituloAviso{
    font-weight: bold;
    font-size: 1rem;
}

@media (max-width: 769px) {
    .contenedorNav{
        width: 100%;
    }
    .menuNav {
        display: none;
    }

    .ham {
        display: flex;
        flex-direction: column;
        position: relative;
        cursor: pointer;
        justify-content: flex-end;
        font-size: 1.5rem;
    }

    .menu-toggle {
        display: none;
    }

    .logoHamburguesa {
        font-size: 2rem;
        cursor: pointer;

    }

    .menuLinks {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #D9D9D9;
        width:10em;
        border-radius: 5px;
        padding: 1em;
        flex-direction: column;
        align-items: center;
    }

    #menu-toggle:checked ~ .menuLinks {
        display: flex;
    }

    .menuLinks ul {
        list-style: none;
        padding: 0;
        width: 100%;
    }

    .menuLinks li {
        text-align: center;
        width: 100%;
        padding: 10px;
    }

    .menuLinks li a {
        color: black;
        text-decoration: none;
        display: block;
        padding: 1em;
        transition: background 0.3s;
    }

    .menuLinks li a:hover {
        background-color: #444;
    }
    .botonLenguaje,.cajaBusquedad {
        display: none;
    }

}

@media (max-width: 420px) {
    .footer {
       display: none;
    }


}


