@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
.contenedor_nav{
    height: 200px;
    width: 100%;
    background-color: #d9d9d9;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}



