@font-face {
    font-family: "adirek";
    src: url("../fonts/adirek/adirek-serif-regular.ttf") format("truetype"),
         url("../fonts/adirek/AdirekHcDemoThinItalic-vmlEE.otf") format("opentype"),
         url("../fonts/adirek/AdirekSansDemoExtralightItalic-z8BgD.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "helvetika";
    src: url("../fonts/helvetica/helvetica-rounded-bold-5871d05ead8de.otf") format("opentype"),
         url("../fonts/helvetica/Helvetica.ttf") format("truetype"),
         url("../fonts/helvetica/helvetica-light-587ebe5a59211.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --gris-claro: #D9D9D9;
    --negro: #000000;
    --blanco: #FFFFFF;
}

body {
    margin: 0;
    font-family: 'adirek', 'helvetika', sans-serif;
    color: var(--negro);
    margin: 0;
    background: #FFFFFF; /* Color gris de fondo */
            
             
}



.header {
    width: 100%;
    height: 60px;
    background-color: var(--gris-claro);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
    position: fixed;
    z-index: 100;
    border-bottom: 2px solid black;
 
}

.logoHeader{
    height: 70px;
    margin-right: 10px;
}

.BotonMenu {
    background-color: var(--negro);
    color: var(--blanco);
    border: none;
    font-size: 10px;
    padding: 9px;
    border-radius: 10px;
    cursor: pointer;
}
.menuHamburguesa {
    position: fixed;
    top: 0;
    right: -9950px; 
    width: 300px;
    height: 45vh; 
    background-color: var(--gris-claro);
    padding-top: 20px;
    transition: right 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -4px 0 5px rgba(0, 0, 0, 0.5);
}

.menuHamburguesa.open {
    right: 0;
}

.menuHamburguesa a {
    color: var(--negro);
    text-decoration: none;
    font-size: 18px;
    padding: 15px 0; /* Aumenta el espacio entre enlaces */
    transition: color 0.2s;
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre ícono y texto */
}

.menuHamburguesa a:hover {
    color: var(--blanco);
}

.iconoMenu {
    width: 24px; /* Ajusta el tamaño de los iconos */
    height: 24px;
}

.cerrarBoton {
    align-self: flex-start; 
    padding: 5px 10px;
    background-color: transparent;  
    color: var(--negro);
    border: none;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 20px; 
    margin-left: 20px; 
}










.video {
    margin-top: 32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 900px; /* Asegura que ocupe todo el alto de la pantalla */
    overflow: hidden;
    z-index: -1;
}

.video video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%; /* Ajusta el ancho del video */
    height: 100%; /* Ajusta la altura del video */
    object-fit: cover; /* Hace que el video cubra el contenedor */
    transform: translate(-50%, -50%); 
}

.opacidad {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 0;
}
.imagenPortada{
    height: 500px;
    width: 500px;
    margin: 40px;
}
.letraEslogan{
    color: #D9D9D9;
    margin-left:120px;
    margin-top: -200px;
    
}
.botonesMarcas{
    margin-left: 120px;
    margin-right: 120px;
}
.botonesMarcas button{
    margin-left:310px;
    margin-top: 140px;
    background-color: #d3d3d3; /* Color gris claro */
    color: #000; /* Color de la letra negra */
    border: 1px solid #a9a9a9; /* Borde gris oscuro */
    padding: 20px 60px;
    font-size: 14px;
    border-radius: 25px; /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Transición suave */

}
 
.botonesMarcas button:hover {
    background-color: #a9a9a9;  
    color: #fff; 
}
.pausaVideo {
    position: relative;
    display: inline-block;
    margin-top: 170px;
    margin-left: 10px;
}
.botonPlay{
    width: 30px;
    height: 30px;
    background-color: #000;
    color: #fff; 
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
    font-family: Arial, sans-serif;
}
 
.segundaVista {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: #D9D9D9;
}

.infoLateral {
    display: flex;
    flex-direction: column;
    width: 100%;  
}

.ubicacionParte, .horarioParte {
    background-color: #d3d3d3; 
    padding: 10px;
    flex: 1;  
    box-sizing: border-box;
    width: 680px;  
}

.reseñasParte {
    background-color: #d3d3d3; /* Color de fondo para Reseñas */
    padding: 20px;
    width: 100%; /* Ajusta el ancho según sea necesario */
    height: 100%; /* Asegura que ocupe el 100% de la altura del contenedor */
    box-sizing: border-box;
    margin-left: -400px;
}

.tituloUbi, .horarioTitulo, .reseñaTitulo {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 19px;
}

.ubicacionCont, .horariosCont, .reseñasCont {
    background-color: #c0c0c0; /* Color de fondo de las secciones internas */
    padding: 15px;
  
    box-sizing: border-box;
    text-align: center;
}
.horario-concesionario {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
  }

  .horario-concesionario th, .horario-concesionario td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
  }

  .horario-concesionario th {
    background-color: #d9d9d9;
    color: black;
    font-size: 1.1em;
  }

  .horario-concesionario td {
    font-size: 1em;
    color: #333;
  }

  .hora {
    font-weight: bold;
    background-color: #d3d3d3;
  }

  .dia {
    font-size: 1em;
  }

  .horario-concesionario tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .horario-concesionario tr:hover {
    background-color: #5b5b5b;
  }

  .horario-concesionario caption {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }
  .reseñas {
 
    padding: 20px;
    margin: 20px 0;
  }
  
  .reseña {
    background-color: #d9d9d9;
    padding: 15px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    border-radius: 5px;
  }
  
  .reseña .nombre {
    font-weight: bold;
    font-size: 1.1em;
  }
  
  .reseña .comentario {
    font-style: italic;
    margin: 10px 0;
  }
  
  .reseña .valoracion {
    font-size: 1.3em;
    color: gold;
  }
  .footer {
    background-color: #808080;
    color: #000;
    padding: 20px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.zonaColaboradores {
    width: 45%;
    background-color: #cccccc;
    padding: 15px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
}

.redes {
    margin-left: 30px;
    width: 45%;
    margin-top: 10px;
    background-color: #cccccc;
 
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 25px;
    justify-content: space-between; 
    display: flex;
    gap: 20px;
    padding: 10px;
}

.zonaAviso {
    width: 45%;
    background-color: #cccccc;
    padding: 15px;
    box-sizing: border-box;
    align-self: flex-end;
    margin-top: -330px;
    margin-right: 100px;
}
.TextoColaboradores{
    text-align: center;
    line-height: 1.6;       
    letter-spacing: 0.5px; 
    background-color: #999999;
    padding: 15px;
    margin-top: 5px;
    font-size: 15px;
}
.TextoAviso{
    text-align: center;
    line-height: 1.6;       
    letter-spacing: 0.5px; 
    background-color: #999999;
    padding: 15px;
    margin-top: 5px;
    font-size: 15px; 
}
.tituloColaboradores,
.tituloAviso {
    background-color: #999999;
    font-weight: bold;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.imagenFooter {
    position: absolute;
    bottom: 10px;
    right: 20px;
    height: 70px;
    
}
.icono {
    width: 20px; 
    height: 20px;
    margin-left: 30px; 
    margin-right: 30px; 
}

 

 