@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
body {
    font-family: 'Nunito Sans', 'helvetika', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #404040;
    background-image: url("../img/imgFondo/kawasaki.png") ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 
}

.contendioPaginaDos{
  
     height: 120vh;
    width: 100%;
}
.separadorBarraNavegador{
    height: 8%;
    width: 100%;
}
.logotipoMarca{
   
    display: flex;
    margin-top: 15vh;
    margin-left:8%;
    margin-right: 70%;
}
.logotipoMarca img {
    height: 190px;
}
.descpicionMarca{
   color: white;
    height: 10vh;
    margin-left:30%;
    margin-right: 38%;
    margin-top: -8vh;
}
.novedadesMarca{
  
    margin-left:76%;
    margin-right:5%;
    margin-bottom: 14%;
    margin-top: -10%;
 
}
 


 
 

 
.botonNovedades{
  background-color: rgb(105, 190, 40);
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.botonNovedades:hover {
  background-color: rgb(249,250,251);
}

.botonNovedades:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.botonNovedades:focus-visible {
  box-shadow: none;
}

.carousel {
    
    margin: 20px;
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.modelosContenedor {
    display: flex;
    
    width: 181vh;
}

.modelo {
    flex: 0 0 25%;
    box-sizing: border-box;
    padding: 10px;
    background-color:rgb(105, 190, 40);
    text-align: center;
    border: 3px solid #000;
    border-radius: 8px;
    text-decoration: none;
    color: inherit;
   
    margin-right: 10px;
}

.modelo:hover {
    background-color:rgb(113, 230, 24);
}

.modeloFoto {
    height: 135.21px;
    width: 150px;
 
    display: flex;
    align-items: center;
    justify-content: center;
 
}
.modeloFoto img  {
    height: 135.21px;
    width: 200px;
    margin-left: 100%;
    border: 3px solid #000;
    border-radius: 8px;
}

.modeloInfo {
    margin-top: 10px;
 
}

.carousel-btn {
    background-color: #333;
    color: #fff;
    border: 3px solid #000;
    padding: 10px;
    cursor: pointer;
    font-size: 1.2em;
    margin-left: 0px;
}

.prev-btn {
    position: absolute;
    left: 0;
}

.next-btn {
    position: absolute;
    right: 0;
}